/* Responsive 1240  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
 background-color: #fff;
}

.main-table {
  height: 100vh;
  max-width: 50vw;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.header {
  position: relative;
  /* height: 80px; */
  padding: 0;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bundl-logo {
  position: absolute;
  top: 30px;
  left: 50px;
  height: 50px;
  /* transform: scale(0.5); */
}

.round-logo {
  position: absolute;
  right: 75px;
  top: 75px;
  height: 85px;
}

.paper {
  position: absolute;
  width: 40px;
  transition: transform 0.3s ease;
}

.rock1 {
  top: 40px;
  left: 315px;
  transform: rotate(-20deg) scale(1.9);
}

.rock2 {
  top: 40px;
  right: 50px;
  transform: rotate(30deg);
}


/* Row content */

.content {
  /* max-width: 300px;        */
  width: 100%;           
  margin: 20px auto;      
  /* padding: 0 20px; */
  padding: 10px 32px;
  box-sizing: border-box;
        
}
.customer-header,
.forgot-password {
  width: 100%;
  margin-bottom: 3%;
  font-weight: bold;
}
.customer-header{
  font-weight: bold;
  font-size: 24px;
}

.forgot-password {
  font-weight: bold;
  font-size: 32px
}

.request-content {
  max-width: 100%;
  margin-bottom: 3%;
  /* text-shadow: 0.25px 10px 25px black; */
  font-size: 22px;
  text-shadow: 0.2px 3px 5px rgba(0, 0, 0, 0.4);
}


.contact {
  text-align: center;
  margin: 2%;
}


.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.btn {
  background-color: #F374AC;
  color: white;
  text-decoration: none;
  padding: 10px 32px;
  font-weight: bold;
  border: none;
  font-size: 16px;
  display: inline-block;
  width: 500px; 
  text-align: center;
}

.note {
  font-size: 16px;
  color: black;
}

.contact a {
  color: #F374AC;
  text-decoration: underline;
  font-weight: bold;
}

.footer {
  background-color: #F374AC;
  text-align: center;
  padding: 10px 10px;
  color: white;
}

.footer p {
  font-size: 14px;
}

.social-icons img {
  width: 30px;
  margin: 0 6px;
  vertical-align: middle;
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main-table {
    max-width: 100vw;
    width:620px;
  }

  .content {
    padding: 20px 40px;
    align-items: center;
  }

  .btn {
    width: 100%;
    font-size: 16px;
    padding: 12px 2px;
    align-items: center;
  }

  .bundl-logo {
    left: 55px;
    top: 30px;
    height: 55px;
  }

  .round-logo {
    right: 80px;
    top: 78px;
    height: 80px;
  }

  .rock1 {
    left: 317px;
    top: 47px;
    transform: rotate(-18deg) scale(1.7);
  }

  .rock2 {
    right: 60px;
    top: 40px;
    transform: rotate(28deg);
  }

  .customer-header {
    font-size: 22px;
  }

  .forgot-password {
    font-size: 30px;
  }

  .request-content {
    font-size: 20px;
  }
}
